* {
  border-radius: 10px;
  text-decoration: none;
  list-style: none;
}

.block {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.training {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.inp {
  padding: 15px 0;
  text-align: center;
  border: 1px solid black;
}

.btn {
  padding: 15px 30px;
  border: 1px solid black;
  background-color: white;
}

.header-acrion-training {
  display: flex;
  gap: 65px
}

.action-steps {
  border: 1px solid black;
  padding: 20px;
  width: 420px;
  border-radius: 20px;

}

.steps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.step-value {
  padding-top: 15px;
  margin-bottom: 15px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
}